<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563884332730-g9nfihp7kbact6n0boenha9nqtgsilce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563884332730-g9nfihp7kbact6n0boenha9nqtgsilce</string>
	<key>API_KEY</key>
	<string>AIzaSyAVg0h0UY54t0b3WU9lfDPAYumLtYkKlEc</string>
	<key>GCM_SENDER_ID</key>
	<string>563884332730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mustafa.Authentication-App</string>
	<key>PROJECT_ID</key>
	<string>authentication-app-a5ec1</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-app-a5ec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563884332730:ios:58d952bc0246a859b11483</string>
	<key>DATABASE_URL</key>
	<string>https://authentication-app-a5ec1.firebaseio.com</string>
</dict>
</plist>